<div class="quotedtweet" id="tw%TWEET_ID%" style="background:#%USER_PROFILE_BACKGROUND_COLOR%;">
	<div class="tw_user-info" style="background:#eef;">
		<div class="tw_thumb">
			%USER_PICTURE_LINK%
		</div>
		<div class="tw_screen-name">
			%PROFILE_LINK%
		</div>
		<div class="tw_full-name">(%USER_NAME%)</div>
		<div class="tw_content-bubble-arrow"></div>
	</div>
	<div class="tw_content">
		<div class="tw_wrapper">
			<span class="tw_status-body">
				<span class="tw_entry-content">
					%TWEET_TEXT%
				</span>
				<span class="tw_meta tw_entry-meta">
					<span>On %TIMESTAMP_LINK%</span>
					<span>from %FROM_LINK%</span>
					<span>%IN_REPLY_TO_LINK%</span>
				</span>
			</span>
		</div>
	</div>
</div>