<div class="quotedtweet" id="tw%TWEET_ID%" style="background-color:#eef;padding:5px;margin-bottom:5px">
	<div class="tw_user-info" style="padding:10px 10px 5px 0;float:left;text-align:center;width:100px;">
		<div class="tw_thumb">
			%USER_PICTURE_LINK%
		</div>
		<div class="tw_screen-name">
			<em>%PROFILE_LINK%</em>
		</div>
		<div class="tw_full-name">
			<strong>(%USER_NAME%)</strong>
		</div>
	</div>
	<div class="tw_content" style="float: left; width: 500px; font: 20pt Georgia, Verdana, sans-serif; font-style: normal;">
		<div class="tw_entry-content">
				%TWEET_TEXT%
		</div>
	</div>
	<div style="clear: both; text-align: left;font-style:italic;margin-left:110px">
		<p class="tw_meta tw_entry-meta" style="margin: 0;padding-top:5px">
			<small>
				<span>On %TIMESTAMP_LINK%</span> 
				<span>from %FROM_LINK%</span> 
				<span>%IN_REPLY_TO_LINK%</span>
			</small>
		</p>
	</div>
</div>