
							<div class="tweetquote">
								<span class="controls">
									%REPLY_TO_LINK%
									%RETWEET_LINK%
								</span>
								<p class="tweetitem">
									%USER_PICTURE_LINK%
									<span class="leftdoublequote">&ldquo;</span> 
									<span class="quoting_msg">
										%TWEET_TEXT%
									</span>
									<span class="rightdoublequote">&rdquo;</span> 
									<span class="tweetinfo">
										By %PROFILE_LINK%
										on %TIMESTAMP_LINK%
										%IN_REPLY_TO_LINK%
									</span>
								</p>
								<div class="tweetclear"></div>
							</div>